/*
!/References
!.config/
.config/*
!.config/alacritty
!.config/dunst
!.config/gtkrc
!.config/gtkrc-2.0
!.config/gtk-2.0
!.config/gtk-3.0
!.config/i3
!.config/mpd
.config/mpd/*
!.config/mpd/mpd.conf
!.config/ncmpcpp
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/neofetch
!.config/polybar
!.config/picom
!.config/rofi
!.bash_profile
!.bashrc
!.dmrc
!.gtkrc-2.0
!.gitignore
!.profile
!.tmux.conf
!.viminfo
!.vimrc
!.zshenv
!.zshrc
!.gitignore
!.zprofile
!.xinitrc
