/*
!/References
!.config/
.config/*
!.config/alacritty
!.config/bookmenu
!.config/dunst
!.config/gtkrc
!.config/gtkrc-2.0
!.config/gtk-2.0
!.config/gtk-3.0
!.config/i3
!.config/mpd
.config/mpd/*
!.config/mpd/mpd.conf
!.config/mpv
!.config/ncmpcpp
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/neofetch
!.config/polybar
!.config/picom
!.config/rofi
!.config/ranger
.config/ranger/*
!.config/ranger/commands.py
!.config/ranger/commands_full.py
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/sxhkd
!.config/zathura
!.bash_profile
!.bashrc
!.dmrc
!.gtkrc-2.0
!.gitignore
!.profile
!.tmux.conf
!.vimrc
!.zshenv
!.zshrc
!.gitignore
!.zprofile
!.xinitrc
